/* Estilos gerais */
body {
   background-image: url(./img/fundo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1, .hero h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.botao-compra {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background: #ff6600;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.botao-compra:hover {
    background: #cc5200;
}

/* Seções gerais */
section {
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}
